@import "styles.css";

.main_reg {
    width: 1440px; 
    height: 1024px; 
    position: relative; 
    background: white; 
    overflow: hidden
}

.reg_form {
    width: 1140px; 
    height: 884px; 
    left: 150px; 
    top: 140px; 
    position: absolute; 
    overflow: hidden
}

.mess_text {
    width: 500px; 
    height: 30px; 
    left: 313px; 
    top: 118px; 
    position: absolute;
    color: black; 
    font-size: 16px; 
    font-family: Open Sans;
}

.reg_button_pos {
    width: 200px; 
    height: 50px; 
    left: 470px; 
    top: 466px; 
    position: absolute
}

.reg_button {
    width: 200px; 
    height: 50px;    
    position: absolute; 
    background: #A78808; 
    border-radius: 12px;    
    position: absolute; 
    text-align: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    color: black; 
    font-size: 16px; 
    font-family: Open Sans; 
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word;
    cursor: pointer;
}

.reg_button input {
    height: 100%;
    width: 100%;  
    border: none;   
}

.reg_button:hover {
    background-color: #f9e79b;
    transition: 0.1s;
}

.name_text, .second_name_text, .phone_text, .mail_text, .create_log_text, .create_pass_text, .ifno {
    width: 150px; 
    height: 20px; 
    left: 221px; 
    top: 160px; 
    position: absolute; 
    justify-content: center; 
    display: flex; 
    flex-direction: column; 
    color: black; 
    font-size: 16px; 
    font-family: Open Sans; 
    font-weight: 400; 
    word-wrap: break-word
}

.second_name_text {
    left: 620px;
    top: 160px;
}

.mail_text {
    left: 620px;
    top: 249px; 
}

.phone_text {
    left: 220px;
    top: 249px;
}

.create_log_text {
    left: 220px; 
    top: 342px;
}

.create_pass_text {
    width: 200px;
    left: 620px;
    top: 342px; 
}

.ifno {
    width: 370px; 
    height: 30px; 
    left: 470px; 
    top: 530px;
    cursor: pointer
}

.ifno:hover {
    color: #999999;
    transition: 0.1s;
}

.sec_name_input input, .f_name_input input, .tel_input input, .email_input input,
.login_input input, .pass_input input {
    width: 300px; 
    height: 50px; 
    left: 620px; 
    top: 187px; 
    position: absolute; 
    background: white; 
    border-radius: 12px; 
    outline: none;
    border: 2px #A78808 solid;
    font-size: 16px;
    font-family: Open Sans;
}

.f_name_input input{
    left: 220px;     
}

.tel_input input {
    left: 220px; 
    top: 280px;
}

.email_input input {
    left: 620px; 
    top: 280px;
}

.login_input input {
    left: 220px; 
    top: 373px;
}

.pass_input input {
    left: 620px; 
    top: 373px;
}

.sec_name_input input:hover, .f_name_input input:hover, .tel_input input:hover,
.email_input input:hover, .login_input input:hover, .pass_input input:hover {
    border: 3px solid #f9e79b;
    transition: 0.1s;
}

















